{% extends 'main/base.html' %}

{% block title %}Contact{% endblock %}


{% block name %}Contact page{% endblock %}


{% block body %}
    <div>
        <form method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="user_name" id="" placeholder="Username">
            </p>
            <p>

                <input type="email" name="user_email" id="" placeholder="Email">
            </p>
    
            <p>
                <input type="text" name="user_phone" id="" placeholder="Phone">
    
            </p>
            <p>
    
                <input type="text" name="user_reviw" id="" placeholder="review" style="width: 300px; height: 150px;">
            </p>
    
            <button type="submit">Send</button>
    
        </form>
    </div>
{% endblock %}